In [1]:
from bs4 import BeautifulSoup
import requests

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue#List_of_companies_by_profit"

page = requests.get(url)

soup = BeautifulSoup(page.text,'html')

In [10]:
table = soup.find_all('table')[2]

In [13]:
companies_title = table.find_all('th')
titles = [title.text.strip() for title in companies_title]

titles

['Rank', 'Name', 'Industry', 'Profits(USD millions)']

In [14]:
import pandas as pd

In [16]:
df = pd.DataFrame(columns= titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Profits(USD millions)]
Index: []

In [20]:
column_data = table.find_all('tr')

In [28]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    each_value = [value.text.strip() for value in row if value.text.strip()]

    # print(each_value)
    length = len(df)
    df.loc[length] = each_value

In [32]:
df

  Rank                Name                 Industry Profits(USD millions)
0    1               Apple              Electronics                96,995
1    2  Berkshire Hathaway             Conglomerate                96,223
2    3            Alphabet               Technology                73,795
3    4           Microsoft               Technology                72,361
4    5      JPMorgan Chase               Financials                49,552
5    6      Meta Platforms               Technology                39,098
6    7          ExxonMobil       Petroleum industry                36,010
7    8   Johnson & Johnson  Pharmaceutical industry                35,153
8    9              Amazon        Retail/Technology                30,425
9   10              Nvidia               Technology                29,760

In [33]:
df.to_csv("./output/most_profits_company.csv")